body {
	margin: 0px;
	font-size: 120%;
}

h1 {
	text-align: center;
	background-color: crimson;
	margin-top: 0%; 
	position: fixed;
	width: 100%;
	top: 0;
}

nav {
	background-color: lightcoral;
	width: 20em;
	position: fixed;
	top: 4rem;
}

nav ul {
	padding-left: 25px;
}

img {
	width: 300px;
	padding: 10px;
	border: 5px solid black;
}

article {
	margin-left: 3em;
	min-width: 30rem;
	max-width: 50rem;
	margin: auto;
	margin-top: 30%;
}

table {
	margin-left: 2em;
	border-collapse: collapse;
}

tr {
	border-bottom: 1px solid grey;
}

td.ingredient {
	text-align: left;
	padding-right: 2em;
}

td.amount {
	text-align: right;
	padding-left: 2em;
}