h1 {
	text-align: center;
	background-color: crimson;
	margin-top: 0%; 
}

nav {
	background-color: lightcoral;
	width: 20em;
}

nav ul {
	padding-left: 25px;
}

img {
	width: 300px;
	padding: 10px;
	border: 5px solid black;
}

article {
	margin-left: 3em;
}

table {
	margin-left: 2em;
	border-collapse: collapse;
}

tr {
	border-bottom: 1px solid grey;
}

td.ingredient {
	text-align: left;
	padding-right: 2em;
}

td.amount {
	text-align: right;
	padding-left: 2em;
}